
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/nav-reset.css" rel="stylesheet" />
    <link href="~/Content/nav-style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/thuvien.css" rel="stylesheet" />
    <link href="~/Content/bxslider.min.css" rel="stylesheet" />
    <link href="~/Content/datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md form_padding_login">
            <div class="panel-wrap">
                <div class="panel-heading">
                    <h1 class="text-center">ADMIN</h1>
                    <p class="text-center">
                        Wellcome to Vacation World
                        <br>
                        Please login your account!
                    </p>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/adminlogin/login">
                        <div class="form-group">
                            <div class="col-md">
                                <input id="email" type="email" class="form-control " name="email" placeholder="E-mail" value="" required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md">
                                <input id="password" type="password" class="form-control " placeholder="Password" name="password" required>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md">
                                <button type="submit" class="btn btn-success btn-block">
                                    Login
                                </button>
                            </div>
                       </div>
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/nav-main.js"></script>
</body>
</html>
