
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main" style="padding: 0; background:url(/Content/img/welcomead.jpg) 50% 50% no-repeat; background-size: 100%">

</div>
